<h1>Login users </h1>
<form action="/login" method="post">
    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" class = "form-control"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" class = "form-control" name="password"/>
    </div>
    <div>
        <input type="submit" class = "btn-default" value="Log In"/>
    </div>
</form>
